 @inherits LayoutComponentBase
 <div class="body">
 <div class="top-row px-4">
  
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

 <div class="container mt-5">
<div class="page">
    <div class="sidebar ">
        <NavMenu />
    </div>

    <main>
       

        <article class=" px-4 ">
            @Body
        </article>
    </main>
</div>
</div>
</div>