@page "/fetchdata"
@inject HttpClient Http
@using MaskinPark.Shared

<PageTitle>Create Machine</PageTitle>

<div class="row" style="">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label style="display: visable"runat="server" asp-for="Type" ></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataTime" class="control-label"></label>
                <input asp-for="DataTime" class="form-control" />
                <span asp-validation-for="DataTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" onclick="OnAdd()" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 
@code {
     [Parameter]
  public List<Machine> Machine { get; set; } = new List<Machine>();
    [Inject]
    public IToDoClient ToDoClient { get; set; } = default!;

    private Machine machine = new Machine();


    [Parameter]
    public EventCallback<Machine> Add { get; set; }

    public async Task OnAdd()
    {
        await Add.InvokeAsync(machine);
    }

    private async Task AddItem(Machine machine) {
        // var newItem = new CreateItem { Text = text };

        var createdItem = await ToDoClient.PostAsync(machine);

        if (createdItem != null)
            Machine.Add(createdItem);
    }

}
